*{
  margin: 0;
  padding: 0;
}


.card{
  border-radius: 15px;
  padding: 1px 32px;
  margin: 50px 20px;
  text-align: center;
  min-width: 270px;
  max-width: 500px;
  display: inline-block; /* aby si mohol mat viacej kariet vedla seba */
}

.card:hover{
  box-shadow: 0px 0px 3px;
}

.card .card-img{
  margin-top: 10px;
  min-height: 200px;
}

.card .card-title{
  color: cornflowerblue;
}

.card h3{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  background-color: black;
  margin: 5px;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 10%;
  cursor: pointer
}

.student-box{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(195, 193, 193);
  min-width: 150px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px;
  padding: 1px 10px;
  margin: 10px;
}

.student-box p{
  margin: 7px;
}

.student-box h1{
  margin-bottom: 1px;
}


.logged{
  background-color:chartreuse;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 1px black solid;
  padding: 5px;
}

.notLogged{
  background-color:crimson;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 1px black solid;
  padding: 5px;
}

.category{
  background-color: cyan;
  text-align: center;
  border: 1px black solid;
  max-width: 301px;
  margin: 0;
}

.list{
  background-color:rgb(207, 199, 199);
  margin: 5px 0px;
  max-width: 250px;
  padding: 3px 20px;
  list-style: none;
  border-radius: 10px;
  text-align: center;
}

.list li:hover{
  background-color: rgb(135, 125, 128);
  cursor: default;
}


.košík-button{
  background-color: rgb(127, 132, 134);
  font-size: 20px;
  color: white;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 5px 20px;
  min-width: 210px;
}

.košík-button:hover{
  background-color: rgb(168, 173, 178);
  cursor: pointer;
}

.hviezda{
  color: rgb(224, 186, 20);
}

.tmava-hviezda{
  color: rgb(162, 156, 156);
}

.card h2{
  display: inline;
}

.fajka{
  background-color:greenyellow;
  border-radius: 50%;
  text-align: right;
  color: white;
  padding: 0px 2px;
}

.fajka-text{
  color: greenyellow;
  font-weight: bold;
}

.krizik{
  background-color:crimson;
  border-radius: 50%;
  text-align: right;
  color: white;
  padding: 0px 2px;

}

.krizik-text{
  color: crimson;
  font-weight: bold;
}















@font-face {
  font-family: purplehaze;
  src: url(PurplePurse-Regular.ttf);
}



.medzerahrr{
  margin: 0px -20px;
  margin-top: 30px;
  margin-bottom: -20px;
}

.top-bar {
  background-color: black;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px;
  padding-bottom: 35px;
  font-size: 14px;
  position: relative;
}


.top-bar #kokos{
  margin: 0;
  margin-left: 20px;
  float: left;
  position: absolute;
}

.top-bar #kokor{
  margin:  0;
  margin-left: 1200px;
  position: absolute;
}

.top-bar #fb{
  width: 20px;
  margin-left: 94%;
  position: absolute;
  top: 13px;
}

.top-bar #ig{
  width: 20px;
  margin-left: 96%;
  position: absolute;
  top: 13px;
}


.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: -5px;
  z-index: 1000; 
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 7px 5px;
}

.logo img {
  height: 80px;
  border-radius: 1000px;
  margin-left: -90px;
}


.ostatne-text{
  text-align: center;
  margin: 100px 0px;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
}

.produkt-container{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.produkt-container h1{
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 32px;
}


.produkt-container .nieco{
  font-size: 25px;
  margin-left: 900px;
  font-style: italic;
  color:hsl(194, 50%, 38%);
  margin-top: -300px;
  margin-bottom: 20px;
}

.produkt-container h2{
  font-size: 20px;
  color: hsl(120, 63%, 19%);
  margin-left: 900px;
  background-color: hsl(120, 31%, 87%);
  width: 30%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.produkt-container .cena-produkt{
  font-size: 32px;
  color: hsl(194, 50%, 38%);
  font-weight: bolder;
  background-color: hsl(0, 9%, 93%);
  padding: 20px;
  border-radius: 5px;
  width: 28.7%;
}

.produkt-container p{
  margin-left: 900px;
  margin-bottom: 40px;
}

.produkt-container .showcase .intel-img{
  height: 480px;
  width: 550px;
  padding: 5px 100px;
}

.produkt-container .showcase .img{
  width: 90px;
  height: 70px;
  padding: 10px;
  box-shadow: 0px 0px 3px;
  margin-bottom: 5px;
  margin-left: 700px;
}

.produkt-container button{
  color: hsl(194, 50%, 38%);
  border: none;
  background-color: hsl(0, 9%, 93%);
  font-weight: bolder;
  font-size: 20px;
  margin-left: 1140px;
}

.produkt-container .produkt-tlacidlo{
  margin-top: -91px;
}

.produkt-container .nieco3:hover{
  cursor: pointer;
}


.produkt-container .nieco2{
  margin-left: 40px;
  font-size: 20px;
  color: hsl(120, 63%, 19%);
  margin-left: 1140px;
  margin-top: -91px;
}

.produkt-container .showcase ul{
  margin-top: -480px;
}



.produkt-container .medzera{
  margin-top: 281px;
}

.produkt-container .showcase li{
  list-style-type: none;
}

.produkt-nav li{
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.menu .linky {
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0 25px;
  transition: color 0.3s;
}

.menu p{
  display: inline-block;
}

.menu .linky:hover {
  color: orange;
  cursor: pointer;
}

#kokos{
  height: 20px;
  margin-right: -40px;
}

#more{
  height: 40px;
  border-radius: 50px;
  margin-right: -160px;
  cursor: pointer;
}

.black-friday{
  position: relative;
}

.black-friday img{
  width: 100%;
  position: absolute;
  height: 450px;
}
.black-friday h1{
  font-family: purplehaze;
  color: #6CE4FF;
  position: absolute;
}

.black-friday #text1{
  left: 80px;
  top: 31px;
  font-size: 64px;
}

.black-friday #text2{
  left: 160px;
  top: 240px;
}

.black-friday button{
  border: none;
  position: absolute;
  background-color: #0094E7;
  padding: 10px 20px;
  border-radius: 5px; 
  color: white;
  font-weight: bold;
  left: 230px;
  top: 360px;

}

.black-friday button:hover{
  background-color: white;
  color: black;
}

.ucet{
  position: relative;
  display: inline-block;
}


.dropdown-menu{
  position: absolute;
  top: 40px;
  left: -20px;
  background-color: white;
  border: 2px solid #0094E7;
  border-radius: 5px;
  display: none; 
  z-index: 100; /* aby to bolo na vrchu */
  padding: 10px 0;
}

.dropdown-menu ul{
  list-style: none;
}

.dropdown-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  text-align: left;
}

.dropdown-menu ul li:hover {
  background-color: #0094E7; 
}

.ucet:hover .dropdown-menu {
  display: block;
}


.košík-button-false{
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: red;
  padding: 2px;
  margin-bottom: 5px;
  padding: 5px 20px;
  min-width: 210px;
  border: none;
}

.counter-container{
  border: 1px black solid;
  border-radius: 30px;
  width: 32%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.number-shower{
  font-size: 50px;
}

.counter-button{
  background-color: hsl(194, 50%, 48%);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
  margin: 5px 2px;
  cursor: pointer;
}


.counter-button:hover{
  background-color: hsl(194, 50%, 38%);
}

.kosik-count{
  background-color: red;
  border-radius: 50%;
  padding: 0px 5px;
  color: white;
  font-size: 15px;
  margin: -100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -120px;
}

s{
  font-weight: 100;
  color: gray;
}


.sponzori-container{
  padding: 0px;
  margin: 20px;
}

.sponzori-container img{
  width: 180px;
  min-height: 120px;
  max-height: 120px;
  margin: 20px;
  margin-top: 0px;
  padding: 0px 125px;
  margin-bottom: 70px;
}


.sponzori-container h1{
  font-size: 70px;
  font-family: purplehaze;
  margin: 40px 0px;
}

.sponzori-container .dole{
  margin-top: 100px;
}

.footer{
  background-color: black;
  color: white;
  padding: 0px 401px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.footer h2{
  font-weight: 100;
}


.footer .email-input{
  position: absolute;
  color: white;
  right: 571px;
  margin-top: -50px;
  background-color: black;
  border-radius: 3px;
  border: 3px solid white;
  padding: 10px;
  width: 200px;
}

.footer .button-predplatne{
  position: absolute;
  background-color:hsl(232, 70%, 50%);
  right: 438px;
  padding: 10px;
  margin-top: -50px;
  border-radius: 20px;
  width: 120px;
  color: white;
  font-weight: bold;
  border: none;
}

.footer .button-predplatne:hover{
  cursor: pointer;
}


.footer .informacie-text{
  padding-top: 17px;
  margin: 0px 28px;
}

.footer .carrat{
  position: absolute;
  margin-left: 670px;
  margin-top: -29px;
  font-weight: bold;
}

.footer hr{
  margin: 10px 28px;
  margin-right: 39px;
}

.footer .PC{
  margin: 0px 28px;
}

.footer .carrat-upper{
  margin-top: -20px
}

.footer .ulmore{
  padding-top: 10px;
  list-style: none;
  margin: 0px 40px;
}

.footer li{
  font-weight: normal;
  font-size: smaller;
  padding: 5px;
}

.footer .medzerahr{
  margin-top: 60px;
  margin-bottom: 20px;
}


.footer .pockom{
  margin: 0px 28px;
}

.footer img{
  width: 240px;
  margin-left: 220px;
}

.bgproc{
  width: 100%;
}


.mainpro{
  margin: 60px 15px;
}

.mainpro .bgfilter{
  margin-top: 140px;
  background-color: #F5F7FF;
  width: 300px;
  height: 780px;
  padding: 50px;
}

.proce{
  text-align: center;
  color: white;
  margin-top: -145px;
  font-size: 70px;
  font-weight: bolder;
}

.mainpro .bgfilter h1{
  padding: 0px;
  margin: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 55px;
}

.mainpro .bgfilter .cis{
  border: gray 2px solid;
  border-radius: 32px;
  text-align: center;
  padding: 15px 100px;
  margin-left: 7px;
  background-color: #F5F7FF;
  color: gray;
  font-weight: bolder;
}

.mainpro .bgfilter .cis:hover{
  cursor: pointer;
}

.mainpro .bgfilter .cierna{
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.mainpro .bgfilter .cervena{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.mainpro .bgfilter .filter{
  color: white;
  background-color: hsl(221, 74%, 48%);
  border: none;
  padding: 8px 32px;
  font-weight: bolder;
  border-radius: 20px;
}

.mainpro .bgfilter .kat p{
  padding-top: 20px;
}

.mainpro .bgfilter .kat h4{
  padding-top: 20px;
}

.mainpro .bgfilter .abc{
  padding: 65px 0px;
}

.mainpro .bgfilter .ceny p{
  padding-bottom: 7px;
}

.mainpro .bgfilter .ceny{
  padding-bottom: 80px;
}

.mainpro .bgfilter .farby div{
  margin-top: 15px;
}

.mainpro .bgfilter .farby{
  margin-bottom: 80px;
}